body {
   background-color: rgb(230, 214, 188);;
}

#Block {
   /* text-align: center; */
   width: 500px;
   border: solid 1px black;
   border-radius: 5px;
}

.section {
   border: solid 1px black;
   border-radius: 15px;
   padding: 0 10% 0 10%;
   background-color: rgb(231, 219, 200);
}

.BeanName a{
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: brown;
}